<section ng-controller="MyMod2DashboardCtrl" layout-padding>
    <md-content layout-padding class="md-whiteframe-1dp">
        <p class="md-body-2"></p>
        <p class="md-body-1">
            You can start building your pages in the <code>mod_MyMod2</code> folder. Please keep track of all files in the <code>mod.MyMod2.json</code> file to enable an easier transition when the core code is updated or if you chose to further customize the app.
        </p>
        <h1>I HAVE DONE MY AWESOME DASH</h1>
    </md-content>
</section>